@using Portfolio.Enums
@using Microsoft.AspNetCore.Identity
@using System.Drawing.Imaging
@using System.Text
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IMWSImageService ImageService
@inject UserManager<BlogUser> UserManager

@model PostEditViewModel

@{
    var userId = UserManager.GetUserId(User);
    ViewData["Title"] = "Mike Robinson's Site - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var blogUserId = UserManager.GetUserId(User);

    IEnumerable<SelectListItem> tagItems = new List<SelectListItem>();
    if (Model.TagValues is not null)
    {
        tagItems = Model.TagValues.OrderBy(x => x).Select(x => new SelectListItem() { Text = x, Value = x });
    }
}

@Html.Hidden("BlogUserId", blogUserId)
@Html.Hidden("ArticleData", Model.Post?.Content)
@Html.Hidden("Tags", Model.Tags)

<!-- Begin Edit Posts -->
<section id="editPosts">
    <div class="container">
        <h1>Edit Post</h1>
        <hr/>
        <div class="row">
            <div class="col-md-8">
                <form id="postForm" asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Post!.AuthorId"/>
                    <input type="hidden" asp-for="Post!.BlogId"/>
                    <input type="hidden" asp-for="Post!.Created"/>
                    <input type="hidden" asp-for="Post!.Id"/>
                    <input type="hidden" asp-for="Post!.CategoryId"/>
                    <div class="form-group">
                        <label asp-for="Post!.Title" class="control-label"></label>
                        <input asp-for="Post!.Title" class="form-control"/>
                        <span asp-validation-for="Post!.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Post!.Abstract" class="control-label"></label>
                        <textarea asp-for="Post!.Abstract" class="form-control"></textarea>
                        <span asp-validation-for="Post!.Abstract" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Post!.Content" class="control-label"></label>
                        <div id="editorJs" class="border border-1 border-secondary"></div>
                        <input type="hidden" asp-for="Post!.Content">
                        <span asp-validation-for="Post!.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Post!.ReadyStatus" class="control-label"></label>
                        <select asp-for="Post!.ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                        <span asp-validation-for="Post!.ReadyStatus" class="text-danger"></span>
                    </div>
                    @if (Model.Post!.Image == null && Model.Post.ImageType == null)
                    {
                        <div class="form-group">
                            <div id="image-box" class="image-container"></div>
                            <div class="my-4">
                                <div id="slider" class="ep-slider-bar w-100 h-auto"></div>
                            </div>
                            <button class="my-5 btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 30px; display: none;" type="button">Crop</button>
                        </div>
                    }
                    else if (Model.Post.Image != null && Model.Post.ImageType != null)
                    {
                        <div class="form-group">
                            <div id="image-box" class="image-container">
                                <img id="image" class="w-100" src="@Html.Raw(ImageService.DecodeImage(Model.Post.Image, Model.Post.ImageType))" alt="post image"/>
                            </div>
                            <div class="my-4">
                                <div id="slider" class="ep-slider-bar w-100 h-auto"></div>
                            </div>
                            <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label">Image (svg, jpeg, gif, and png files.)</label>
                        <input type="file" asp-for="ImageFile" class="form-control"/>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <div class="row">
                            <div class="col">
                                <label class="control-label">Manage Tags</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="TagEntry"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col w-100">
                                        <button type="button" class="btn btn-primary btn-sm w-100" name="Add">Add</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary btn-sm w-100" name="delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <select class="w-100" asp-for="TagValues" asp-items="@tagItems" id="TagList" multiple></select>
                            </div>
                        </div>
                        <span asp-validation-for="TagValues" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="confirm-btn" type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-controller="Posts" asp-action="AllAuthorPosts">Your Posts</a>
        </div>
    </div>
</section><!--/. editPosts-section -->

@section CustomCss
{
    <link rel="stylesheet" href="~/lib/cropperjs/cropper.min.css"/>
    <link rel="stylesheet" href="~/css/Auth/jquery-ui.min.css"/>
    <link rel="stylesheet" href="~/css/Auth/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0/dist/summernote-lite.min.css"/>
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/image@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/header@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/quote@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/code@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/paragraph@@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/list@@latest"></script>


    <script src="~/lib/cropperjs/cropper.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/customPost.js"></script>
    <script src="~/js/customCropper.js"></script>
}