@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model X.PagedList.IPagedList<Blog>
@inject IMWSImageService ImageService

@{
    ViewData["Title"] = "Mike Robinson's Site - Current Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var action = Context.Request.RouteValues["Action"]!.ToString();
}
<!-- Begin Blog Index -->
<section id="currentBlogs">
    <div class="container mb-5">
        <div class="row">
            <h1>Current Blogs</h1>
        </div>
        <div class="row">
            @if (User.IsInRole("Administrator"))
            {
                <p>
                    <a asp-action="Create">Create Blog</a>
                </p>
            }
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @if (Model.Any())
            {
                @foreach (var blog in Model)
                {
                    <div class="card mx-3" style="width: 18rem;">
                        <div class="card-header">
                            <img class="card-img-top" src="@Html.Raw(ImageService.DecodeImage(blog.Image!, blog.ImageType!))" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 id="blogName" class="card-title">@blog.Name</h4>
                            <hr class="mt-0 mb-2 border-top border-dark"/>
                            <p id="author" class="m-0">
                                Author:
                                <b>
                                    <span class="authorName">@blog.Author!.FullName</span>
                                </b>
                            </p>
                            <p class="text-info mb-2">
                                <i>@blog.Description</i>
                            </p>
                            <a href="/Blog/@(blog.Slug)" class="read-more">Enter blog<i class="las la-long-arrow-alt-right"></i></a>
                            @if (User.IsInRole("Administrator"))
                            {
                                <hr class="mt-2 mb-2"/>
                                <div class="d-flex justify-content-end">
                                    <a class="text-bold" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">Edit</a>
                                    <span>|</span>
                                    <a class="text-bold" asp-action="Delete" asp-controller="Blogs" asp-route-id="@blog.Id">Delete</a>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="padding-15 wow fadeInUp" data-wow-delay="200ms">
                    <h3>No blogs found...</h3>
                </div>
            }
        </div>

        <!--Add paging controls here-->
        @if (Model.PageCount > 1)
        {
            <div class="row">
                <div class="h5 mt-5">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </div>
            <div class="row">
                <div class="text-center mb-3 ps-0">
                    @Html.PagedListPager(Model, page => Url.Action(action, new { page }),
                        new PagedListRenderOptions
                        {
                            UlElementClasses = new[] { "pagination", "pagination-left", "p-t-10" },
                            ActiveLiElementClass = "active"
                        })
                </div>
            </div>
        }
    </div>
</section><!--/. currentBlogs-section -->

@section CustomCss
{
    <link rel="stylesheet" href="~/css/global/pagination.min.css"/>
}

@section Metadata
{
    <meta name="title" content="@(ViewData["Title"] as string)">
    <meta name="description" content="This is the hub for all of Mike Robinson's blogs.">
    <meta name="keywords" content="Technology, Blog, ASP, .NET, Coding, C#, SQL, Bootstrap, HTML5, JavaScript, Michael, Robinson, Litchfield, Connecticut">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Michael M. Robinson">
}